<div class="my-4 card">
    <div class="card-body">
        {% if include_table_buttons %}
            <button class="btn btn-success" type="submit" name="submit-shares">Save</button>
            <a class="btn btn-outline-secondary" role="button" href="{% url 'index' %}">Cancel</a>
            <input type="file" name="record-csv">
            <button class="btn btn-primary" name="submit-file" type="submit">Upload</button>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'edit' %}">Edit</a>
        {% endif %}
    </div>
</div>