{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'payments/_table_buttons.html' %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Date processed</th>
                    <th scope="col">Holder</th>
                    <th scope="col">Description</th>
                    <th class="text-right" scope="col">Amount ($)</th>
                    {% for holder in holders %}
                        <th scope="col">{{ holder }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <th scope="row">{{ record.date_processed }}</th>
                        <td>{{ record.reference }}</td>
                        <td>{{ record.description|truncatechars:45 }}</td>
                        <td class="text-right">{{ record.amount|intcomma }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {% include 'payments/_table_buttons.html' %}
        </form>
    </div>

{% endblock %}