{% extends 'base.html' %}
{% load humanize %}
{% load payments_extras %}
{% load staticfiles %}

{% block content %}
    <div class="container mb-5 pb-5">
        <h1 class="my-3">{% block title %}{% endblock %}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'payments/_table_buttons.html' %}
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Date processed</th>
                    <th scope="col">Holder</th>
                    <th scope="col">Description</th>
                    <th class="text-right" scope="col">Amount</th>
                    {% for holder in holders %}
                        <th scope="col" class="text-right">{{ holder }}</th>
                    {% endfor %}
                    {% if include_table_buttons %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
                {% include 'payments/_summary_row.html' %}
                </thead>
                <tbody>
                {% for record in records %}
                    <tr class="{% if record.amount < 0 %}table-success{% endif %}">
                        <th scope="row">{{ record.date_processed }}</th>
                        <td><img src="{% holder_image holder_map|get_item:record.reference %}"
                                 alt="Account holder image"
                                 srcset="{% holder_image holder_map|get_item:record.reference '@2x' %} 2x, {% holder_image holder_map|get_item:record.reference %} 1x"> {{ holder_map|get_item:record.reference }}
                        </td>
                        <td class="text-monospace">{{ record.description|truncatechars:30 }}</td>
                        <td>{% amount_cell record.amount %}</td>
                        {% for holder in holders %}
                            <td>{% block share_cell %}{% endblock %}</td>
                        {% endfor %}
                        {% if include_table_buttons %}
                            <td>
                                <button type="button" class="btn btn-sm py-0 px-2 split-payments-button">
                                    <img src="{% static 'payments/icons/split.png' %}"
                                         srcset="{% static 'payments/icons/split@2x.png' %} 2x, {% static 'payments/icons/split.png' %} 1x"
                                         alt="Split button ">
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr class="table-info">
                    <td colspan="2"></td>
                    <td class="text-monospace">Starting balance</td>
                    <td></td>
                    {% for holder in holders %}
                        <td>{% amount_cell starting_balance_map|get_item:holder.reference %}</td>
                    {% endfor %}
                    {% if include_table_buttons %}
                        <td></td>
                    {% endif %}
                </tr>
                </tbody>
                <tfoot class="thead-dark">
                {% include 'payments/_summary_row.html' %}
                </tfoot>
            </table>
        </form>
    </div>

{% endblock %}

{% if include_table_buttons %}
    {% block scripts %}
        <script type="application/javascript">
            $('.split-payments-button').click(function (ev) {
                let inputs = $('.share-input', ev.currentTarget.parentElement.parentElement);
                for (let input of inputs) {
                    input.value = 100 / inputs.length;
                }
            });
        </script>
    {% endblock %}

{% endif %}